{% extends "base.html" %}
{% block css %}
  <title>CJ계열 코로나 대응 사례</title>
  <link rel="stylesheet" href="{{ url_for('overcome.static', filename='overcome.css') }}">
  {% endblock %}

  {% block content %}
  <body>
  <div class="title"><b>CJ계열사들의 코로나 팬데믹으로 인한 위기와 이를 극복하기 위한 대응</b></div>
  <header>
    <nav>
      <ul>
          <li><a href="/overcome">CJ 대한통운</a></li>
          <li><a href="CJ1">CJ 제일제당</a></li>
          <li><a href="CJ2">CJ ENM</a></li>
          <li><a href="CJ3">CJ 올리브영</a></li>
          <li><a href="CJ4">CJ 프레시웨이</a></li>
          <li><a href="CJ5">CJ CGV</a></li>
          <li><a href="CJ6">CJ 스튜디오드래곤</a></li>
          <li><a href="CJ7">CJ 씨푸드</a></li>
          <li><a href="CJ8">CJ 바이오사이언스</a></li>
      </ul>
  </nav>
  </header>
  <div class="tt">CJ ENM</div>
  <main>
    <section id="posts">
        <article class="post">
            <h2>위기</h2>
            <p>CJ ENM은 코로나19 팬데믹 동안 다양한 산업 부문에서 발생한 위기에 대응하기 위해 빠르게 전략을 수정하고 혁신적인 방법을 도입했습니다. 코로나19는 방송, 영화, 공연, 음악, e커머스 등 다양한 사업 부문에 큰 영향을 미쳤고, 특히 소비자들의 행동 변화와 외부 환경의 급격한 변화가 주요한 도전 과제가 되었습니다. CJ ENM은 이러한 위기 상황에서 디지털 전환, 콘텐츠 혁신, 비대면 서비스 강화 등을 통해 위기를 극복하고, 팬데믹 이후에도 경쟁력을 유지하기 위한 여러 대응 방안을 마련했습니다.<br><br>
              1. 영화 산업의 침체<br>
              2. 방송 및 콘텐츠 제작 중단<br>
              3. 공연 및 오프라인 행사 제한
            </p>
        </article>
  
    <article class="post">
      <h2>대응</h2>
      <p>
        1. 극장 개봉이 어려운 상황에서 CJ ENM은 일부 영화를 VOD 플랫폼을 통해 배급하기로 결정을 내렸습니다. 특히 ‘디지털 최초 공개’를 시도하면서, 영화 관람 방식을 변화시켰고, 이를 통해 새로운 수익 모델을 창출했습니다. 일부 영화는 온라인 스트리밍 서비스를 통해 빠르게 배급되었고, 이는 관객의 관심을 끌었습니다.<br><br>
        2. PCR 검사, 체온 측정, 손 세정제 비치 등 기본적인 방역 수칙을 철저히 지켰습니다. 또한, 스태프와 출연자들 간의 거리두기, 마스크 착용 등을 의무화하여 촬영을 재개했습니다.<br><br>
        3. CJ ENM은 비대면 공연 및 이벤트를 적극적으로 진행했습니다. 예를 들어, **Mnet Asian Music Awards(MAMA)**와 같은 대형 시상식은 오프라인 대신 온라인으로 진행되었고, 이를 통해 전 세계 팬들과의 소통을 강화하고, 다양한 온라인 광고 수익을 올렸습니다.
      </p>
  </article>
</a>
  </section>
  </div>
  </main>
  
 
</body>
<a href="https://cjnews.cj.net/%EC%9D%B8%ED%84%B0%EB%B7%B0-%EA%B8%89%EB%B3%80%ED%95%98%EB%8A%94-%EA%B5%AD%EB%82%B4-%EC%BD%98%ED%85%90%EC%B8%A0-%EC%9C%A0%ED%86%B5-%ED%8C%A8%EB%9F%AC%EB%8B%A4%EC%9E%84-%EA%B7%B8-%EC%9D%B4%EC%9C%A0/" target="_blank" class="news-link">관련 뉴스 기사 자세히 보기</a><a href="http://127.0.0.1:5000/graph/covid" target="_blank" class="news-link1">그래프 보기</a>
{% endblock %}