<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CJ대한통운 운송 추이</title>
    <link rel="stylesheet" href="{{ url_for('logistics.static', filename='logistics.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>CJ대한통운 운송 추이</h1>
        </header>

        <!-- 전체 기간 파이형 그래프 (범례 표시) -->
        <section id="pie-graphs-all">
            <h2>전체 기간 (2018~2024) 품목 별 운송 비율</h2>
            <div class="pie-graph-container">
                <div class="pie-graph">
                    <img src="data:image/png;base64,{{ pie_plot_urls[0] }}" alt="전체 기간 (2018~2024) 품목 별 운송 비율">
                </div>
            </div>
        </section>

        <section id="bar-graphs-periods">
            <h2>코로나 기간 별 운송량 (막대 그래프)</h2>
            <div class="bar-graph-container">
                <img src="data:image/png;base64,{{ bar_plot_urls }}" alt="코로나 기간별 운송량 막대 그래프">
            </div>
        </section>


        <!-- 코로나 기간 별 파이형 그래프 (범례 생략) -->
        <!-- <section id="pie-graphs-periods">
            <h2>코로나 기간 별 운송 비율</h2>
            <div class="pie-graph-container">
                {% for pie_img in pie_plot_urls[1:] %}
                <div class="pie-graph">
                    <img src="data:image/png;base64,{{ pie_img }}" alt="코로나 기간 별 운송 비율">
                </div>
                {% endfor %}
            </div>
        </section> -->

        <!-- 전체 기간 선형 그래프 -->
        <section id="line-graphs-all">
            <h2>전체 기간 품목 별 운송량</h2>
            <div class="line-graph-container">
                <div class="line-graph">
                    <img src="data:image/png;base64,{{ line_plot_urls[0] }}" alt="전체 기간 품목 별 운송량">
                </div>
            </div>
        </section>


        <!-- 요일별 운송량 선형 그래프 -->
        <section id="weekday-line-graphs">
            <h2>요일별 운송량 추이</h2>
            <div class="line-graph-container">
                <div class="line-graph">
                    <img src="data:image/png;base64,{{ weekday_line_plot_urls[0] }}" alt="요일별 운송량">
                </div>
            </div>
        </section>

        <section>
            <h2>지역 별 대한통운 이용량</h2>
            <div class="logistics-volume-map">
                <iframe src="{{ url_for('logistics.static', filename='maps/dual_map.html') }}" width="100%" height="600" style="border: none;"></iframe>
            </div>
        </section>
    </div>
</body>

</html>