body {
  width: 100%;
  font-family: 'YESMyoungjo-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

/* 이미지 및 그래프의 중앙 정렬 */
img {
  width: 80%;
  display: block;
  justify-content: center;
  margin-bottom: 40px;
}

.line-graph-container, .bar-graph-container {
  display: flex; 
  justify-content: center; 
}

/* 섹션 스타일 */
section {
  margin-bottom: 80px;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #333;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.pie-all-analysis p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: left;
  display: flex; 
  justify-content: center; 
}

.line-analysis p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: left;
  display: flex; 
  justify-content: center; 
}

.bar-analysis p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: left;
  display: flex; 
  justify-content: center; 
}

.weekday-line-analysis p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: left;
  margin-bottom: 40px;
  display: flex; 
  justify-content: center; 
}

.logistics-volume-map {
  width: 1100px;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

.map-analysis p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: left;
  display: flex; 
  justify-content: center; 
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
