{% extends "base.html" %}
{% block title %}게시물상세보기{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('board.static', filename='css/detail.css')}}">
{% endblock %}

{% block content %}
<div class="board-detail">
  <div>
    <label>제목</label>
    <input type="text" value="{{board.subject}}" readonly>
  </div>
  <div>
    <label>작성자</label>
    <input type="text" value="{{board.user.username}}" readonly>
  </div>
  <div>
    <label>작성일자</label>
      <input type="text" value="{{board.created_at}}" readonly>
    </div>
    <div>
      <label>내용</label>
      <textarea rows="10" readonly>{{board.content}}</textarea>
    </div>
    <div>
      <form action="{{url_for('board.recommend', board_id=board.id)}}" method="post" class="recommend-form">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <button type="submit" class="thumbs-up-button">
          ❤️
          추천
        </button>
      </form>      
      <p>추천 수 : {{ board.recommender | length }}</p>
    </div>
    <div class="board-detail-btns">
      <!-- 글 수정 -->
      <div class="board-update-btn">
        {% if current_user.id == board.user.id %}
        <a href="{{url_for('board.update', board_id=board.id)}}" class="btn btn-warning">수정</a>
        {% else %}
        <button class="btn btn-warning" disabled>수정</button>
        {% endif %}
      </div>
      <!-- 글 삭제 -->
      <div class="board-delete-btn">
          <!-- 토큰 -->
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          {% if current_user.id == board.user.id %}
          <input class="btn btn-danger board-delete" type="submit" data-board-id="{{board.id}}" data-board-selection="{{board.selection}}" value="삭제">
          {% else %}
          <input class="btn btn-danger board-delete" type="submit" data-board-id="{{board.id}}" data-board-selection="{{board.selection}}" value="삭제" disabled>
          {% endif %}
        </div>
      </div>
      <div class="board-detail-move">
        {% if board.get_pre_board() %}
            <a href="{{ url_for('board.detail', board_id=board.get_pre_board().id) }}" class="move-btn">&lt;</a>
        {% else %}
            <span class="move-btn disabled">&lt;</span>
        {% endif %}
        
        <a href="{{ url_for('board.index', selection=board.selection) }}" class="move-btn">목록</a>
        
        {% if board.get_next_board() %}
            <a href="{{ url_for('board.detail', board_id=board.get_next_board().id) }}" class="move-btn">&gt;</a>
        {% else %}
            <span class="move-btn disabled">&gt;</span>
        {% endif %}
      </div>   
    </div>
    
{% endblock %}

{% block js %}
  <script src="{{url_for('board.static', filename='js/detail.js')}}"></script>
{% endblock %}