{% extends 'base.html' %}
{% block title %}운송량 분석{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="ko">

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CJ대한통운 운송 추이</title>
    <link rel="stylesheet" href="{{ url_for('logistics.static', filename='logistics.css') }}">
</head> -->

<body>

    <div class="container">
        <img src="{{ url_for('logistics.static', filename='images/cj_logistics_index.png') }}" width="100%" alt="CJ대한통운">

        <!-- 전체 기간 파이형 그래프 (범례 표시) -->
        <section id="pie-graphs-all">
            <h3>전체 기간 품목 별 운송 비율</h3>
            <div class="pie-graph-container">
                <div class="pie-graph">
                    <img src="data:image/png;base64,{{ pie_plot_urls[0] }}" alt="전체 기간 (2018~2024) 품목 별 운송 비율">
                </div>
            </div>
        </section>

        <section id="bar-graphs-periods">
            <h3>코로나 기간 별 운송량</h3>
            <div class="bar-graph-container">
                <img src="data:image/png;base64,{{ bar_plot_urls }}" alt="코로나 기간별 운송량 막대 그래프">
            </div>
        </section>


        <!-- 코로나 기간 별 파이형 그래프 (범례 생략) -->
        <!-- <section id="pie-graphs-periods">
            <h2>코로나 기간 별 운송 비율</h2>
            <div class="pie-graph-container">
                {% for pie_img in pie_plot_urls[1:] %}
                <div class="pie-graph">
                    <img src="data:image/png;base64,{{ pie_img }}" alt="코로나 기간 별 운송 비율">
                </div>
                {% endfor %}
            </div>
        </section> -->

        <!-- 전체 기간 선형 그래프 -->
        <section id="line-graphs">
            <h3>전체 기간 품목 별 운송량</h3>
            <div class="line-graph">
                <img src="data:image/png;base64,{{ line_plot_urls[0] }}" alt="전체 기간 품목 별 운송량">
                <!-- 요일별 운송량 선형 그래프 -->
                <h3>요일별 운송량 추이</h3>
                <img src="data:image/png;base64,{{ weekday_line_plot_urls[0] }}" alt="요일별 운송량">
            </div>
        </section>

        <section>
            <h2>지역 별 대한통운 이용량</h2>
            <div class="logistics-volume-map">
                <iframe src="{{ url_for('logistics.static', filename='images/dual_map.html') }}" width="100%"
                    height="600" style="border: none;"></iframe>
            </div>

            <h5>요약</h5>

            <p>송하인 순위 : {{ sender_text }}</p>
            <p>수하인 순위 : {{ receiver_text }}</p>
            <p>수요가 많은 대리점 : {{ combined_text }}</p>

        </section>
    </div>

    <!-- 위로 올라가는 버튼 -->
    <button id="scrollToTop" onclick="window.scrollTo({top: 0, behavior: 'smooth'})" aria-label="Scroll to top">
     <i class="fa fa-arrow-up"></i>
   </button>
 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   
   <script>
     const scrollToTopButton = document.getElementById("scrollToTop");
 
     window.onscroll = function() {
       if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
         scrollToTopButton.style.display = "block";
       } else {
         scrollToTopButton.style.display = "none";
       }
     };
   </script>

</body>
</html>

{% endblock %}