{% extends "base.html" %}
{% block css %}
  <title>코로나 대응 사례들</title>
  <link rel="stylesheet" href="{{ url_for('react.static', filename='react.css') }}">
  {% endblock %}
 
  {% block content %}
  <body>
  <div class="title">
    <b>코로나19 위기, 글로벌 기업들은 이렇게 대응했다</b><br>   
  </div>
  <header>
  <nav>
    <ul>
        <li><a href="/react">글로벌 기업</a></li>
        <li><a href="CJ">CJ계열</a></li>
    </ul>
</nav>
</header>
<main>
  <section id="posts">
      <article class="post">
          <h2>1. 테슬라 (Tesla) - 실전연습, 그리고 생산 재개</h2>
          <p class="date"><a href="https://news.einfomax.co.kr/news/articleView.html?idxno=4086525" target="_blank">관련 기사 링크</a></p>
          <p>일론 머스크 테슬라 최고경영자(CEO)는 신종 코로나바이러스 감염증(코로나19)에 대한 대응은 더욱더 치명적인 바이러스가 확산하기 전에 치르는 일종의 실전 연습이라고 말했다.
            생산 중단과 재개: 캘리포니아의 프리몬트 공장에서 코로나19가 확산되자, 초기에는 생산이 중단되었지만, 이후 보건 안전 지침을 준수하며 생산을 재개했습니다. 마스크 착용, 사회적 거리두기 등 방역 지침을 철저히 준수한 후, 전 세계의 전기차 수요에 맞춰 생산을 재개했습니다.
            디지털 판매: 코로나19로 인해 오프라인 쇼룸이 닫히면서, 테슬라는 온라인을 통한 차량 판매와 서비스 강화를 추진했습니다.
          </p>
      </article>
  <article class="post">
    <h2>2. 마이크로소프트 (Microsoft) - 원격 근무와 기술 제공</h2>
    <p class="date"><a href="https://www.brandbrief.co.kr/news/articleView.html?idxno=3983" target="_blank">관련 기사 링크</a></p>
    <p>원격 근무 지원: 마이크로소프트는 자체적으로 전 세계 직원들이 원격 근무를 할 수 있도록 지원하고, 그 과정에서 Microsoft Teams, OneDrive 등 자사의 클라우드 기반 툴을 적극적으로 활용했습니다. 원격 근무와 협업 툴을 개선하는 데 집중했습니다.
      교육 및 비영리 지원: 팬데믹 동안 Microsoft는 코로나19 대응을 위한 무료 클라우드 서비스를 제공하고, 교육 기관과 비영리 단체들에게 원격 교육과 협업 도구를 제공하는 등의 사회적 책임을 다했습니다.
      보안 강화: 원격 근무가 확대되면서 사이버 보안에 대한 우려가 커졌습니다. 이에 따라, 마이크로소프트는 보안 강화 솔루션을 제공하고, 기업들의 보안 수준을 향상시킬 수 있도록 지원했습니다.</p>
</article>
<article class="post">
  <h2>3. 애플 (Apple) - 안전한 매장 운영과 원격 판매 강화화</h2>
  <p class="date"><a href="https://www.digitaltoday.co.kr/news/articleView.html?idxno=226372" target="_blank">관련 기사 링크</a></p>
  <p>안전한 매장 운영: 애플은 코로나19 확산 초기, 세계 각국의 애플 스토어를 임시 폐쇄하고, 방역 지침에 맞춰 매장을 재개장했습니다. 마스크 착용과 사회적 거리두기를 강조하며, 고객의 건강을 최우선으로 고려한 매장 운영을 했습니다.
    온라인 판매 및 서비스 확장: 오프라인 매장이 폐쇄되면서 애플은 온라인 판매와 서비스를 강화했습니다. 특히, 전화나 온라인을 통해 개인화된 제품 지원 및 서비스를 제공하고, 아이폰, 맥북 등의 구매를 원활히 할 수 있도록 했습니다.
    위기 속 혁신: 애플은 팬데믹 동안 새로운 제품을 출시하며, 팬데믹 이전과 마찬가지로 시장에서의 리더십을 유지했습니다. 특히, 코로나19 관련 건강 정보를 다룰 수 있는 앱과 같은 기능을 추가했습니다.
  </p>
</article>
<article class="post">
<h2>4. 구글 (Google) - 정보 제공과 직원 지원</h2>
<p class="date"><a href="https://www.aitimes.kr/news/articleView.html?idxno=15561" target="_blank">관련 기사 링크</a></p>
<p>정보 제공: 구글은 코로나19와 관련된 정보를 신속하게 제공하기 위해 "COVID-19 Search & Alert"와 같은 기능을 추가하여, 사용자가 실시간으로 필요한 정보를 찾을 수 있도록 했습니다. 또한, 구글 지도에서는 코로나19 정보와 함께 지역별 확산 상황을 표시하여 시민들에게 유용한 정보를 제공했습니다.
  원격 근무와 디지털 전환: 구글은 전 세계 본사 직원들에게 원격 근무를 권장하고, G Suite(현재의 Google Workspace)와 Google Meet을 통해 원활한 협업 환경을 지원했습니다.
  사회적 책임: 구글은 팬데믹 동안 소상공인 및 비영리 단체를 지원하는 다양한 프로그램을 시행했습니다. 또한, 기부 활동을 통해 의료기관과 비영리 단체에 직접적인 지원을 제공했습니다.
  </p>
</article>
</section>
</main>

<footer>
  <p>&copy; 2024-12-18. 모든 권리 보유.</p>
</footer>
</body>
{% endblock %}
